<!--资源管理-->
<div ng-controller="resourcesCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <b>资源管理</b>
            </h3>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">资源管理</div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">配置管理</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">规则引擎</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">黑白名单</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">用户管理</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                            <td style="border: none;"><input type="checkbox"><label>用户查询</label></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>